/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.set-container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.set {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}

.maint-sets {
    background-color: #808080; /* Dark Grey */
}
.min-sets {
    background-color: #2196F3; /* Blue */
}
.max-sets {
    background-color: #04AA6D; /* Green */
}
