html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
/*    background-image: linear-gradient(180deg, #292b2c, #43494d);*/
}

@font-face {
    font-family: bebasNeue;
    src: url(/fonts/BebasNeue-Regular.ttf);
}

.home-title {
    font-family: bebasNeue;
}

.circles-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .circles-wrapper > div {
        display: flex;
        border: 5px solid #e1ebe2;
        border-radius: 100px;
        background-color: #e1ebe2;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
        margin: 20px;
    }

.home-links {
    text-decoration: none;
    font-family: bebasNeue;
    font-size: 20px;
}

.circle {
    transition: 0.5s;
}


    .circle:hover {
        background-color: #616b64;
        border-color: #616b64;
    }

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

    .zoom:hover {
        transform: scale(1.5); /* 150% zoom */
    }

.navbar-link {
    box-shadow: inset 0 0 0 0 #292b2c;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

    .navbar-link:hover {
        box-shadow: inset 150px 0 0 0 #292b2c;
    }


.countdown-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bold;
}

