@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}
<div class="row">
    <div class="text-center flex-row justify-content-center">
            <img src="~/images/muscle-logo.png" class="m-4" height="150px" width="150px" alt="flexing arm" />
            <br />
            <h1 class="home-title m-4">HypertropHack</h1>
    </div>
    <div class="text-center flex-row justify-content-center w">
            <p>HypertropHack allows you to input your workouts to track your progress toward the optimal number of sets for muscle growth.</p>
            <div class="circles-wrapper">
                <div class="circle">
                    <a href="/CompletedExercises" class="home-links">Completed<br />Exercises</a>
                </div>
                <div class="circle">
                    <a href="/WeeklyProgress" class="home-links">Check<br />Progress</a>
                </div>
            </div>
        </div>
    
</div>


<div class="row">

</div>
